@use '@scss/abstracts/mixin' as *;

.load-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  padding-top: 1rem;

  .spinner svg {
    margin-right: 8px;
    cursor: pointer;

    @include hover-fine {
      @include animation-rotate(1s);
    }
  }
}
