.recommend-post-tag {
  display: flex;
  align-items: center;
  margin-top: 12px;
  column-gap: 12px;

  strong {
    color: var(--color-orange);
    font-size: 13px;
  }

  .item {
    cursor: pointer;
    font-size: 13px;
    line-height: 12px;
    text-decoration: underline;
  }
}
