.title-description {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 1rem;
  row-gap: 4px;
  text-align: right;

  &__right {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
}
