:root {
  --color-black-1: #090909;
  --color-black-2: #111;
  --color-black-3: #1a1a1a;
  --color-black-4: #222;
  --color-black-5: #2b2b2b;
  --color-black-6: #333;
  --color-white-1: #f7f7f7;
  --color-white-2: #eee;
  --color-white-3: #e6e6e6;
  --color-white-4: #ddd;
  --color-white-5: #d5d5d5;
  --color-white-6: #ccc;
  --color-deep-navy: #0a1128;
}

html[weezip-theme='light']:root {
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #8e8e93;
  --color-grey-2: #aeaeb2;
  --color-grey-3: #c7c7cc;
  --color-grey-4: #d1d1d6;
  --color-grey-5: #e5e5ea;
  --color-grey-6: #f2f2f7;
  --color-red: #ff3b30;
  --color-orange: #ff9500;
  --color-yellow: #ffd60a;
  --color-green: #30d158;
  --color-mint: #63e6e2;
  --color-teal: #40cbe0;
  --color-cyan: #64d2ff;
  --color-blue: #0a84ff;
  --color-indigo: #5e5ce6;
  --color-purple: #bf5af2;
  --color-pink: #ff375f;
  --color-brown: #ac8e68;
  --color-base: #1e3c40;
  --color-primary: #5e8b7e;
  --color-secondary: #a7c4bc;
  --color-third: #dfeeea;
  --color-mono: var(--color-black-1);
  --color-reverse-mono: var(--color-white-1);
  --color-selection: var(--color-reverse-mono);
  --color-selection-bg: var(--color-primary);
  --color-font: var(--color-black-6);
  --color-font-reverse: var(--color-white-2);
  --color-link: #1e3c40;
  --color-link-hover: var(--color-primary);
  --color-background: var(--color-white-1);
  --color-background-opacity: rgb(223 238 234 / 95%);
  --color-breadcrumb-bg: var(--color-secondary);
  --color-shadow: var(--color-white-3);
  --color-header: var(--color-base);
  --color-corner: var(--color-third);
}

html[weezip-theme='dark']:root {
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #8e8e93;
  --color-grey-2: #636366;
  --color-grey-3: #48484a;
  --color-grey-4: #3a3a3c;
  --color-grey-5: #2c2c2e;
  --color-grey-6: #1c1c1e;
  --color-red: #ff453a;
  --color-orange: #ff9f0a;
  --color-yellow: #fc0;
  --color-green: #34c759;
  --color-mint: #00c7be;
  --color-teal: #30b0c7;
  --color-cyan: #32ade6;
  --color-blue: #007aff;
  --color-indigo: #5856d6;
  --color-purple: #af52de;
  --color-pink: #ff2d55;
  --color-brown: #a2845e;
  --color-base: #b9fffc;
  --color-primary: #a3d8f4;
  --color-secondary: #9ab3f5;
  --color-third: #7579e7;
  --color-mono: var(--color-white-1);
  --color-reverse-mono: var(--color-black-1);
  --color-selection: var(--color-reverse-mono);
  --color-selection-bg: var(--color-primary);
  --color-font: var(--color-white-2);
  --color-font-reverse: var(--color-black-6);
  --color-link: #a0a3ef;
  --color-link-hover: var(--color-third);
  --color-background: var(--color-deep-navy);
  --color-background-opacity: rgb(117 121 231 / 95%);
  --color-breadcrumb-bg: var(--color-primary);
  --color-shadow: var(--color-black-4);
  --color-header: var(--color-base);
  --color-corner: var(--color-third);
}
