@import '@scss/abstracts/mixin';

.table-of-contents-block {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  border-radius: 13px;
  margin: 1rem 0 2rem;
  background-color: var(--color-background-opacity);
  place-content: center;
  place-items: center;

  &::before {
    position: absolute;
    z-index: 0;
    width: 120%;
    height: 120%;
    border-radius: 12px;
    animation: steam 5s ease-in-out infinite;
    background: linear-gradient(75deg, var(--color-primary), var(--color-base), var(--color-third));
    background-size: 800% 800%;
    content: '';
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    border-radius: 12px;
    margin: 2px;
    padding: 0.75rem;
    box-sizing: border-box;
    width: calc(100% - 4px);
    background-color: var(--color-background);

    &__header {
      display: flex;
      justify-content: space-between;
      color: var(--color-font);
      cursor: pointer;

      p {
        padding-top: 4px;
        padding-left: 6px;
        margin-bottom: 4px;
        font-size: 13pt;
        font-weight: 500;
      }

      .icon-box {
        display: flex;
        align-items: center;
        transform: rotate(0);
        transition-duration: 0.2s;

        &.reverse {
          transform: rotate(-180deg);
        }
      }

      @include hover-fine {
        p {
          color: var(--color-primary);
        }

        svg path {
          fill: var(--color-primary);
        }
      }
    }

    &__list {
      max-height: 65vh;
      padding-left: 0;
      margin: 0;
      color: var(--color-grey);
      line-height: 24px;
      overflow-y: auto;

      .tag-top,
      .tag-h2 {
        padding-right: 16px;
        padding-left: 16px;
      }

      .tag-h3 {
        padding-right: 16px;
        padding-left: 32px;
      }
    }
  }
}
