@import '@scss/abstracts/mixin';

.scroll-progress-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100vw;
  height: 4px;
  visibility: hidden;

  &.visible {
    @include animation-fade-in(400ms);

    visibility: visible;
  }

  .scroll-progress {
    height: 4px;
    border-radius: 8px;
    background-color: var(--color-secondary);
  }
}
