@import '@scss/abstracts/mixin';

.posts-item {
  box-sizing: content-box;
  border-radius: 4px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1px;
  background-color: var(--color-background);
  cursor: pointer;
  list-style: none;
  transition: color 0.2s;

  a {
    color: var(--color-font);
  }

  @include hover-fine {
    border-bottom: 3px solid var(--color-base);
    margin-bottom: -1px;

    p {
      color: var(--color-base);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    @include mobile {
      padding: 1.5rem 0;
    }

    p {
      margin: 8px 0 12px;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 2.25rem;
      word-break: keep-all;

      @include mobile {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }
  }
}
