@import '@scss/abstracts/mixin';
@import '@scss/abstracts/theme';

html {
  min-width: 320px;
}

body {
  min-width: 320px;
  margin: 0;
  background-color: var(--color-background);
  font-family:
    Pretendard,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;

  ::selection {
    background: var(--color-selection-bg);
    color: var(--color-selection);
  }
}

main {
  color: var(--color-font);
}

a {
  color: var(--color-link);
  font-weight: 500;
  text-decoration: none;
  text-underline-position: under;
  transition: color 0.3s;

  @include hover-fine {
    color: var(--color-link-hover);
  }
}

p {
  margin: 0;
}

img.icon {
  width: 28px;
  height: 28px;
}

.black {
  color: var(--color-black-4);
}

.black-border {
  border: 1px solid var(--color-black-4);
  color: var(--color-white-1);
}

.gray {
  color: var(--color-grey);
}

.gray-border {
  border: 1px solid var(--color-grey);
  color: var(--color-black-4);
}

.gray-background {
  background-color: var(--color-grey);
}

.brown {
  color: var(--color-brown);
}

.brown-border {
  border: 1px solid var(--color-brown);
  color: var(--color-black-4);
}

.brown-background {
  background-color: var(--color-brown);
}

.orange {
  color: var(--color-orange);
}

.orange-border {
  border: 1px solid var(--color-orange);
  color: var(--color-black-4);
}

.orange-background {
  background-color: var(--color-orange);
}

.yellow {
  color: var(--color-yellow);
}

.yellow-border {
  border: 1px solid var(--color-yellow);
  color: var(--color-black-4);
}

.yellow-background {
  background-color: var(--color-yellow);
}

.blue {
  color: var(--color-blue);
}

.blue-border {
  border: 1px solid var(--color-blue);
  color: var(--color-black-4);
}

.blue-background {
  background-color: var(--color-blue);
}

.pink {
  color: var(--color-pink);
}

.pink-border {
  border: 1px solid var(--color-pink);
  color: var(--color-black-4);
}

.pink-background {
  background-color: var(--color-pink);
}

.red {
  color: var(--color-red);
}

.red-border {
  border: 1px solid var(--color-red);
  color: var(--color-black-4);
}

.red-background {
  background-color: var(--color-red);
}

.green {
  color: var(--color-green);
}

.green-border {
  border: 1px solid var(--color-green);
  color: var(--color-black-4);
}

.green-background {
  background-color: var(--color-green);
}

.purple {
  color: var(--color-purple);
}

.purple-border {
  border: 1px solid var(--color-purple);
  color: var(--color-black-4);
}

.purple-background {
  background-color: var(--color-purple);
}

.indigo {
  color: var(--color-indigo);
}

.indigo-border {
  border: 1px solid var(--color-indigo);
  color: var(--color-black-3);
}

.indigo-background {
  background-color: var(--color-indigo);
}

.hidden {
  visibility: hidden;
}

.hide {
  display: none;
}
