/* careers.scss */

.careers-container {
  width: 100%;
  //  margin: 14rem auto;
  padding: 20px;
  //padding: 0 2rem;
  height: 100vh; // 화면 높이에 맞춘 시원한 지도 뷰
}

.map-frame {
  position: relative;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background: #dbdada2d;
  display: flex;
  padding: 1px; /* 테두리 두께 */
  //padding: 20px;
  //border-top: 1px solid white;

  clip-path: polygon(
    20px 0%,
    calc(100% - 20px) 0%,
    100% 20px,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    20px 100%,
    0% calc(100% - 20px),
    0% 20px
  );

  .map-frame-inner {
    /* 2. 자식은 실제 카드 배경색이 됩니다. */
    background: #0a0a0a;
    //padding: 1.2rem;
    //height: 100%;
    width: 100%;
    height: 100%;
    /* 부모와 동일한 모양을 상속받거나 직접 지정하여 1px 안쪽으로 들어오게 합니다. */
    clip-path: inherit;
    display: flex;
    flex-direction: column;
  }

  /* 2. 테두리 라인 구현 (가상 요소) */
  //   &::before {
  //     content: '';
  //     position: absolute;
  //     inset: 0;
  //     padding: 1px;
  //     -webkit-mask:
  //       linear-gradient(#fbfafa 0 0) content-box,
  //       linear-gradient(#f2f2f2 0 0);
  //     -webkit-mask-composite: xor;
  //     mask-composite: exclude;
  //     clip-path: inherit;
  //     z-index: 3;
  //     pointer-events: none;
  //   }
}
