/* careers.scss */

.careers-container {
  width: 100%;
  margin: 14rem auto;
  //padding: 0 2rem;
  height: 100vh; // 화면 높이에 맞춘 시원한 지도 뷰
}

.map-frame {
  position: relative;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background: #dbdada;

  margin: 20px;
  //border-top: 1px solid white;

  clip-path: polygon(
    60px 0%,
    calc(100% - 60px) 0%,
    100% 60px,
    100% calc(100% - 60px),
    calc(100% - 60px) 100%,
    60px 100%,
    0% calc(100% - 60px),
    0% 60px
  );

  .map-frame-inner {
    /* 2. 자식은 실제 카드 배경색이 됩니다. */
    background: #0a0a0a;
    padding: 1.2rem;
    //height: 100%;

    /* 부모와 동일한 모양을 상속받거나 직접 지정하여 1px 안쪽으로 들어오게 합니다. */
    clip-path: inherit;
    display: flex;
    flex-direction: column;
  }

  /* 2. 테두리 라인 구현 (가상 요소) */
  //   &::before {
  //     content: '';
  //     position: absolute;
  //     inset: 0;
  //     padding: 1px;
  //     -webkit-mask:
  //       linear-gradient(#fbfafa 0 0) content-box,
  //       linear-gradient(#f2f2f2 0 0);
  //     -webkit-mask-composite: xor;
  //     mask-composite: exclude;
  //     clip-path: inherit;
  //     z-index: 3;
  //     pointer-events: none;
  //   }
}

/* 3. [핵심] 지도를 배경에 녹여내는 그라데이션 레이어 */
.map-vignette {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none; // 중요: 지도 드래그/줌이 가능하도록 설정

  //   background: radial-gradient(
  //     circle at center,
  //     transparent 20%,
  //     // 중앙 20%는 원래 지도 색상 유지
  //     rgba(10, 10, 10, 0.2) 60%,
  //     // 서서히 어두워지기 시작
  //     rgba(10, 10, 10, 0.8) 80%,
  //     // 가장자리 근처에서 급격히 어두워짐
  //     #0a0a0a 100%
  //   );

  //   background:
  //     /* 상단 어둡게 */
  //     linear-gradient(to bottom, #0a0a0a 0%, #0a0a0a3a 2%, transparent 3%),
  //     /* 하단 어둡게 */ linear-gradient(to top, #0a0a0a 0%, transparent 10%),
  //     /* 좌측 어둡게 */
  //       linear-gradient(to right, #0a0a0a 0%, #0a0a0a3a 2%, transparent 3%),
  //     /* 우측 어둡게 */
  //       linear-gradient(to left, #0a0a0a 0%, #0a0a0a3a 2%, transparent 3%);
}

// /* 반응형 모바일 최적화 */
// @media (max-width: 768px) {
//   .map-frame {
//     height: 100vh;
//     clip-path: polygon(
//       15px 0%,
//       calc(100% - 15px) 0%,
//       100% 15px,
//       100% calc(100% - 15px),
//       calc(100% - 15px) 100%,
//       15px 100%,
//       0% calc(100% - 15px),
//       0% 15px
//     );
//   }
// }
