.careers-container {
  width: 100%;
  padding: 10rem 0; // 섹션 간 충분한 여백
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .careers-content {
    width: 100%;
    height: 100vh;
    //max-width: 1200px;
    margin: 0 auto;

    .map {
      background: var(--background-color); /* Matches mode */
      border: 1px solid var(--border-color);
      border-radius: 8px;
      //height: 600px; /* Approximate height from image */
      height: 90vh;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--text-tertiary);
      font-size: 0.9rem;
      box-shadow: var(--shadow);
    }
  }
}
